html,body {
			 
    -webkit-touch-callout: none; 
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    font-family: Verdana;
    background-color: #ff0040;

			   
}
#bg{
	width: 100%;
	height: 100%;
	  margin:0;
    padding:0;
}

.registro_compra{
	position: relative;
	padding: 5px;
	border-bottom: solid 1px #ccc;
}


.c_id{
	position: relative;
	width: 33%;
	float: left;

}
.c_precio{
	position: relative;
	width: 33%;
	float: left;
	text-align: center;

	color: #125488;
}
.c_puntos{
	position: relative;
	width: 33%;
	float: left;
	text-align: right;
	color: #BD0202;
}
#content{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
#lista{

	width: 100%;
	position: absolute;
	left: 100%;
	top: 30%;
	height: 40%;
	overflow: scroll;
	padding: 20px;
	-webkit-overflow-scrolling: touch;
}
#btn_volver{


	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 0px;
	left: 0px;
}

#cantidad_puntos{
	
	float: left;
	text-align: left;
	color: #CCD123;
	width: 300px;
	margin-top: 30px;
	font-size: 17px;
	left: 50%;
	top: 49%;
	margin-left: -89px;
	margin-top: 100px;
	position: absolute;
	pointer-events:none;
}
#bg_mispuntos{
	
	left: 50%;
	top: 49%;
	margin-left: -131px;
	margin-top: 90px;
	position: absolute;

}

.BotonAzul{
				
	background-color: #3b5a99;
	color: #fff;
	font-family: 'GothamBold';
	padding: 11px 0px 11px 0px;
	font-size: 12px;
	position: absolute;
	border-radius: 7px;
	width: 140px;
	text-align: center;

}
.Boton2Frames{
	overflow: hidden;
}

.Boton2Frames img{
	position: absolute;

}







#connect{
	position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;
}



#btn_connect{
	left: 50%;
	top: 49%;
	margin-left: -123px;
	position: absolute;
}



#btn_mi_codigo{

	left: 50%;
	

	top: 50%;
	

	margin-left: -135px;
	

	margin-top: -90px;
	position: absolute;

}

#btn_mis_compras{

	left: 50%;
	top: 49%;
	

	margin-left: -135px;
	

	margin-top: 2px;
	position: absolute;

}

#btn_lorem{

	left: 50%;
	top: 49%;
	

	margin-left: -136px;
	

	margin-top: 87px;
	position: absolute;

}






#circulo{
	left: 50%;
	top: 10%;
	margin-left: -60px;
	position: absolute;
	margin-top: -20px;
}

#avatar{
	left: 50%;
	top: 10%;
	margin-left: -37px;
	position: absolute;
	border-radius:60px;
	margin-top: -10px;
}


#loguito{
	left: 50%;
	bottom: 17%;
	margin-left: -45px;
	position: absolute;
}


#vecino{
	left: 50%;
	top: 8%;
	margin-left: -93px;
	position: absolute;
}
#nombre{
	


	color: #24959D;
	position: absolute;
	top: 27%;
	width: 100%;
	text-align: center;

}
#codigo{
	position: absolute;
	top: 50%;
	margin-top: -89px;
	left: 50%;
	margin-left: -131px;
}
#codigo > div{
	position: relative;
	margin: 0 auto;
	
	margin-top: -103px;
}
#home{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	overflow: hidden;
}
.item_menu_home{

	position: relative;
	border-bottom: solid 1px #ccc;
	padding: 20px;
	background-color: #F1EAE5;

}

/* LOADING */
#loading{

 position: absolute;
 width: 100%;
 height:100%;
 background-color: #000;
 opacity: 0.9;
 top: 0px;
 left: 0px;

}

#txt_loading{
	font-size: 16px;
	color: #fff;
	position: absolute;
	left: inherit;
	 font-family: 'GothamBook';
	top: 50%;
	width: 100%;
	margin-top: 6px;
	text-align: center;
}

.spinner {
      position: absolute;
      width: 30px;
      height:30px;
	  left:50%;
	  top:50%;
      display: inline-block;
	  margin-left:-15px;
	  top:50%;
	  margin-top:-45px;
}

.spinner div {
      width: 12%;
      height: 30%;
      background: #fff;
      position: absolute;
      left: 44.5%;
      top: 37%;
      opacity: 0;
      -webkit-animation: fade 1s linear infinite;
      -webkit-border-radius: 20px;
      -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
    
 .spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
	.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
	.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
	.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
	.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
	.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
	.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
	.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
	.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
	.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
	.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
	.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

 @-webkit-keyframes fade {
      from {opacity: 1;}
      to {opacity: 0.25;}
 }


